

/****** Object:  Database [QuanLyThuVien]    Script Date: 18/05/2024 2:26:24 PM ******/
CREATE DATABASE [QuanLyThuVien]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUMUON]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUMUON](
	[MaPM] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[TinhTrang] [nvarchar](30) NOT NULL,
	[NgayTra] [date] NOT NULL,
	[Xoa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[SoDienThoai] [char](11) NOT NULL,
	[NgayLapThe] [date] NOT NULL,
	[MaLDG] [int] NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDG]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDG](
	[MaLDG] [int] IDENTITY(1,1) NOT NULL,
	[TenLDG] [nvarchar](50) NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_LOAIDG] PRIMARY KEY CLUSTERED 
(
	[MaLDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINV]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINV](
	[MaLNV] [int] IDENTITY(1,1) NOT NULL,
	[TenLNV] [nvarchar](50) NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_LOAINV] PRIMARY KEY CLUSTERED 
(
	[MaLNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[MaLS] [int] IDENTITY(1,1) NOT NULL,
	[TenLS] [nvarchar](50) NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_LOAISACH] PRIMARY KEY CLUSTERED 
(
	[MaLS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[SoDienThoai] [char](11) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[MaLNV] [int] NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MaPM] [int] IDENTITY(1,1) NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayHenTra] [datetime] NOT NULL,
	[MaDG] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_PHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYDINH]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYDINH](
	[MaQD] [int] IDENTITY(1,1) NOT NULL,
	[TenQD] [nvarchar](50) NOT NULL,
	[GiaTri] [nvarchar](50) NOT NULL,
	[TinhTrang] [nvarchar](20) NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_QUYDINH] PRIMARY KEY CLUSTERED 
(
	[MaQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 18/05/2024 2:26:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](100) NOT NULL,
	[TacGia] [nvarchar](50) NOT NULL,
	[NamXB] [int] NOT NULL,
	[NhaXB] [nvarchar](50) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[TinhTrang] [nvarchar](30) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaLS] [int] NOT NULL,
	[Xoa] [int] NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAIDG] ON 

INSERT [dbo].[LOAIDG] ([MaLDG], [TenLDG], [Xoa]) VALUES (2, N'Học sinh', 0)
INSERT [dbo].[LOAIDG] ([MaLDG], [TenLDG], [Xoa]) VALUES (3, N'Giáo viên', 0)
INSERT [dbo].[LOAIDG] ([MaLDG], [TenLDG], [Xoa]) VALUES (4, N'Nhân viên thư viện', 0)
SET IDENTITY_INSERT [dbo].[LOAIDG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAINV] ON 

INSERT [dbo].[LOAINV] ([MaLNV], [TenLNV], [Xoa]) VALUES (1, N'Admin', 0)
INSERT [dbo].[LOAINV] ([MaLNV], [TenLNV], [Xoa]) VALUES (2, N'NhanVien', 0)
INSERT [dbo].[LOAINV] ([MaLNV], [TenLNV], [Xoa]) VALUES (3, N'ThuThu', 0)
SET IDENTITY_INSERT [dbo].[LOAINV] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAISACH] ON 

INSERT [dbo].[LOAISACH] ([MaLS], [TenLS], [Xoa]) VALUES (1, N'Văn học', 0)
INSERT [dbo].[LOAISACH] ([MaLS], [TenLS], [Xoa]) VALUES (3, N'Kỹ năng sống', 0)
INSERT [dbo].[LOAISACH] ([MaLS], [TenLS], [Xoa]) VALUES (4, N'Kinh tế', 0)
SET IDENTITY_INSERT [dbo].[LOAISACH] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [Email], [SoDienThoai], [TenDangNhap], [MatKhau], [MaLNV], [Xoa]) VALUES (10, N'Phan Anh Vu', CAST(N'2003-11-03' AS Date), N'Hoang Mai, Ha Noi', N'phananhvu@gmail.com', N'0886966103 ', N'Admin', N'87d9bb400c0634691f0e3baaf1e2fd0d', 1, 0)
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [NgaySinh], [DiaChi], [Email], [SoDienThoai], [TenDangNhap], [MatKhau], [MaLNV], [Xoa]) VALUES (12, N'Thu Thu', CAST(N'2001-12-12' AS Date), N'Hai Ba Trung', N'th@gmail.com', N'0123456789 ', N'Nhan vien', N'87d9bb400c0634691f0e3baaf1e2fd0d', 1, 0)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SACH] ON 

INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXB], [NhaXB], [NgayNhap], [TinhTrang], [SoLuong], [MaLS], [Xoa]) VALUES (1, N'Tôi là Bêtô', N'Nguyễn Nhật Ánh', 2007, N'NXB Trẻ', CAST(N'2024-03-25' AS Date), N'Chưa mượn', 10, 1, 0)
INSERT [dbo].[SACH] ([MaSach], [TenSach], [TacGia], [NamXB], [NhaXB], [NgayNhap], [TinhTrang], [SoLuong], [MaLS], [Xoa]) VALUES (2, N'Đắc nhân tâm', N'Dale Carnegie', 2016, N'NXB Tổng hợp', CAST(N'2024-03-25' AS Date), N'Chưa mượn', 15, 1, 0)
SET IDENTITY_INSERT [dbo].[SACH] OFF
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUON] FOREIGN KEY([MaPM])
REFERENCES [dbo].[PHIEUMUON] ([MaPM])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_PHIEUMUON]
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETPHIEUMUON] CHECK CONSTRAINT [FK_CHITIETPHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_LOAIDG] FOREIGN KEY([MaLDG])
REFERENCES [dbo].[LOAIDG] ([MaLDG])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_LOAIDG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_LOAINV] FOREIGN KEY([MaLNV])
REFERENCES [dbo].[LOAINV] ([MaLNV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_LOAINV]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_DOCGIA] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DOCGIA] ([MaDG])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PHIEUMUON_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_LOAISACH] FOREIGN KEY([MaLS])
REFERENCES [dbo].[LOAISACH] ([MaLS])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_LOAISACH]
GO
USE [master]
GO
